#Cart {
  margin: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#Cart .cart-info {
  width: 70vw;
}

#StatusBar {
  display: flex;
  align-items: center;
  text-align: left;
  position: relative;
  background-color: gainsboro;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
}

#StatusBar .close-x {
  top: 5px;
  right: 5px;
  font-size: 20px;
}

#StatusBar .img-container {
  max-width: 50px;
  margin-right: 25px;
}

.img-container img {
  width: 100%;
}

.text-container .text-item {
  color: magenta;
}

#Table,
#Summary {
  border: 1px solid lightgray;
  box-shadow: 0px 0px 10px 5px lightgrey;
}

#Table {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

th,
td,
.summary-title,
.promo,
.cart-totals {
  border-bottom: 1px solid lightgray;
}

tr:last-of-type td {
  border-bottom: none;
}

.cart-table-head th {
  text-transform: uppercase;
  padding-bottom: 10px;
  text-align: left;
  font-size: 18px;
}
.product-btn-cell .product-btn {
  font-size: 30px;
}

.product-row td {
  padding: 10px 0;
}

.product-row .product-info-row {
  width: 500px;
}

.product-info {
  text-align: left;
}

.product-info .img-container {
  max-width: 150px;
  margin-right: 10px;
}

.name-text,
.text-value,
.price,
.product-quantity {
  font-weight: 700;
}

.category-text {
  color: darkgray;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.25px;
}

.name-text {
  font-size: 18px;
  margin-bottom: 6px;
}

.text-label {
  width: 25%;
}

.price {
  font-size: 18px;
}

.product-quantity {
  width: 50px;
  padding: 5px;
  background-color: lightgrey;
}

#Summary {
  margin-left: 15px;
  padding: 0px 20px 10px;
  text-align: left;
  width: 17vw;
}

.summary-title {
  text-align: right;
  text-transform: uppercase;
  margin: 0;
  padding: 10px;
}

.promo {
  padding: 15px 0 20px;
}

.cart-totals {
  padding: 15px 0;
}

.promo .input-row {
  margin-top: 7px;
  justify-content: space-between;
}

.input-row input {
  width: 55%;
  padding: 11px 10px;
  font-style: italic;
  border: 2px solid black;
  font-size: 15px;
}

.promo-apply-btn {
  padding: 10px;
  font-weight: 900;
  text-transform: uppercase;
  background: transparent;
}

.totals-container {
  justify-content: space-between;
  padding: 7px 0;
}

.cart-subtotal .total-num,
.cart-total {
  font-weight: 700;
}

.cart-total .total-num {
  color: red;
  font-size: 18px;
}

.checkout-btn {
  width: 100%;
  padding: 20px 0;
  font-size: 20px;
  text-transform: uppercase; 
  color: white;
  background-color: red;
  border: none;
  margin-top: 18rem;
}
