#Cart {
  margin: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#Cart .cart-info {
  width: 70vw;
}

#StatusBar {
  display: flex;
  align-items: center;
  text-align: left;
  position: relative;
  background-color: gainsboro;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
}

#StatusBar .close-x {
  top: 5px;
  right: 5px;
  font-size: 20px;
}

#StatusBar .img-container {
  max-width: 50px;
  margin-right: 25px;
}

.img-container img {
  width: 100%;
}

.text-container .text-item {
  color: magenta;
}

#Table {
  border: 1px solid black;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

th,
td {
  border-bottom: 1px solid lightgray;
}

tr:last-of-type td {
  border-bottom: none;
}

.cart-table-head th {
  text-transform: uppercase;
  padding-bottom: 10px;
  text-align: left;
  font-size: 18px;
}
.product-btn-cell .product-btn {
  font-size: 30px;
}

.product-row td {
  padding: 10px 0;
}

.product-row .product-info-row {
  width: 500px;
}

.product-info {
  text-align: left;
}

.product-info .img-container {
  max-width: 150px;
  margin-right: 10px;
}

.name-text,
.text-value, 
.price,
.product-quantity {
  font-weight: 700;
}

.category-text {
  color: darkgray;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.25px;
}

.name-text {
  font-size: 18px;
  margin-bottom: 6px;
}

.text-label {
  width: 25%;
} 

.price {
  font-size: 18px
}

.product-quantity {
  width: 50px;
    padding: 5px;
    background-color: lightgrey;
}