#StatusBar,
#FullBar {
  font-size: 35px;
  margin: auto;
  margin-bottom: 20px;
}
#StatusBar {
  max-width: 70vw;
}
#FullBar {
  max-width: 95vw;
}
.logo-circle {
  background-color: lightgrey;
  border-radius: 50%;
  padding: 5px 8px 0;
}
.logo-bar {
  background-color: lightgrey;
  height: 0.9rem;
  width: 28rem;
}
.done {
  background-color: grey;
}
