#Summary {
  margin: auto;
  margin-left: 50px;
  padding: 0px 20px 50px;
  text-align: left;
  max-width: 16vw;
  width: 100%;
  position: relative;
}

.summary-title,
.bag-items-num {
  text-align: right;
  padding: 10px;
}

.summary-title {
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;
}

.promo {
  padding: 15px 0 20px;
}

.promo .input-row {
  margin-top: 7px;
  justify-content: space-between;
}

.input-row input {
  width: 73%;
  padding: 11px 10px;
  font-style: italic;
  border: 2px solid black;
  font-size: 15px;
}

.promo-apply-btn {
  padding: 10px;
  font-weight: 900;
  text-transform: uppercase;
  background: transparent;
}

.bag-items-summary {
  padding: 5px 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bag-items-num {
  margin-bottom: 10px;
}

.bag-items-num span {
  font-weight: 700;
}

.bag-item {
  display: flex;
  width: 20rem;
  font-size: 18px;
}

.bag-item span {
  margin-left: 5px;
}

.item-img {
  max-width: 100px;
  margin-right: 10px;
}

.item-name {
  font-weight: 700;
  margin-bottom: 10px;
}

.item-description {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  max-width: 170px;
}

.item-total {
  text-align: right;
  font-weight: 700;
}

.cart-totals {
  padding: 15px 0;
  margin-bottom: 20px;
}

.totals-container {
  justify-content: space-between;
  padding: 7px 0;
}

.cart-subtotal .total-num,
.cart-total {
  font-weight: 700;
}

.cart-total .total-num {
  color: red;
  font-size: 18px;
}

.total-num.discount {
  color: forestgreen;
}

.shipment-address {
  padding-bottom: 15px;
}

.shipment-method {
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.shipment-method-key {
  text-transform: uppercase;
  font-weight: 700;
}

.card-row-img {
  max-width: 50px;
}

.card-info.type {
  font-weight: 700px;
}

.card-info.cardNo {
  margin-left: 7px;
}

.checkout-btn.summary {
  background-color: red;
  position: absolute;
  bottom: 15px;
  left: 10px;
  right: 10px;
}
