.App {
  text-align: center;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.big-btn {
  font-size: 24px;
  height: 3.5rem;
  border: none;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.close-x {
  pointer-events: none;
  position: absolute;
  color: gray;
}

.icon-btn {
  border: none;
  background: transparent;
}

.underline-border {
  border-bottom: 1px solid lightgray;
}
