#CodeCommerceApp {
    background-color: #FFFAFA;
}

#Summary, #Confirmation {
    box-shadow: 0px 0px 10px 5px lightgrey;
    border: 1px solid lightgray;
  }

.page-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px 40px;
}

.error-box {
  border: 2px solid indianred;
  padding: 10px;
  margin-bottom: 20px;
  max-width: 40%;
  letter-spacing: 1.25px;
  font-weight: 600;
  background-color: lavenderblush;
}

.checkout-btn {
  padding: 20px 0;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  border: none;
}

.hide { 
  display: none;
}