#CodeCommerceApp {
    background-color: #FFFAFA;
}

#Payment, #Summary, #Confirmation {
  box-shadow: 0px 0px 10px 5px lightgrey;
  border: 1px solid lightgray;
}

.page-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px 10px;
}

.error-box {
  border: 2px solid indianred;
  padding: 10px;
  margin-bottom: 20px;
  max-width: 40%;
  letter-spacing: 1.25px;
  font-weight: 600;
  background-color: lavenderblush;
}

.checkout-btn {
  padding: 20px 0;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  border: none;
}

.hide { 
  display: none;
}

@media (max-width: 768px) {
  .page-container {
    flex-flow: column;
    align-items: baseline;
    margin: auto;
  }  
  .page-container #Cart, 
  .page-container #Confirmation,
  .page-container #StatusBar {
    max-width: 95vw;
  }
  .page-container #Shipping {
    max-width: 89vw;
  }
  .page-container #Payment {
    max-width: 90vw;
  }
  .page-container #Summary {
    max-width: 45vw;
    margin-top: 20px;
  }

}