#Cart {
  max-width: 70vw;
  width: 100%;
}

.status-bar {
  text-align: left;
  position: relative;
  background-color: gainsboro;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.status-bar .close-x {
  top: 5px;
  right: 5px;
  z-index: 99;
  font-size: 20px;
}

.status-bar .img-container {
  max-width: 50px;
  margin-right: 25px;
}

.status-item {
  color: magenta;
}

tr:last-of-type td {
  border-bottom: none;
}

.cart-table-head th {
  padding: 10px 0 13px;
  text-transform: uppercase;
  font-size: 22px;
}

th.close-column {
  width: 85px;
}

.item-row td {
  padding: 10px 0;
}

.close-column {
  width: 100px;
}

.close-column .remove-btn {
  font-size: 30px;
}

.product-column {
  width: 550px;
  text-align: left;
}

.product-info .img-container {
  max-width: 150px;
  margin-right: 10px;
}

.category-text {
  color: darkgray;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.25px;
}

.name-text {
  font-size: 18px;
  margin-bottom: 6px;
  font-weight: 700;
}

.text-label {
  width: 25%;
}

.text-value {
  font-weight: 700;
}
.price-text, 
.total-text {
  font-size: 18px;
  font-weight: 700;
}

.quantity-column,
th.quantity-column {
  width: 150px;
  text-align: center;
}

.quantity-select {
  width: 50px;
  padding: 5px;
  background-color: lightgrey;
  font-weight: 700;
}
